@import "./base.css";

/* general */

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

/* greeting and social */

#greeting-social {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

#greeting-social article {
  width: 520px;
  height: 160px;
  border: none;
  border-radius: 10px;
  margin-bottom: 40px;
}

#greeting {
  background-color: var(--greetingColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#greeting figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

#greeting img {
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

#greeting p {
  font-size: 1.8rem;
  width: 60%;
}

#social {
  background-color: var(--socialColor);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#social p {
  font-size: 2.0rem;
  margin: 36px 48px 20px 0;
}

#social a {
  font-size: 2.8rem;
  margin-right: 52px;
}

#social a:hover {
  font-size: 3.6rem;
  transition: 100ms ease-in-out;
}

.fa-twitter {
  color: #1d9bf0;
}

.fa-linkedin {
  color: #0866c2;
}

.fa-github {
  color: #000000;
}

/* themes blogpost */

#themes-blogposts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#themes-blogposts article {
  display: flex;
  align-items: center;
  width: 360px;
  height: 120px;
  border: none;
  border-radius: 10px;
  margin-bottom: 32px;
  margin-right: 32px;
}

#themes-blogposts a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0 20px;
  font-size: 2.4rem;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themes-blogposts a:hover {
  font-size: 2.6rem;
}

#themes-blogposts button {
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0 20px;
  font-size: 2.4rem;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themes-blogposts button:hover {
  font-size: 2.6rem;
}

#themes-blogposts i {
  color: var(--arrowColor);
}

#cripto-blogposts {
  background-color: var(--cryptoColor);
}

#cripto-blogposts:hover {
  background-color: var(--cryptoColorHover);
}

#web-dev-blogposts {
  background-color: var(--webDevColor);
}

#web-dev-blogposts:hover {
  background-color: var(--webDevColorHover);
}

#web3-blogposts {
  background-color: var(--web3Color);
}

#web3-blogposts:hover {
  background-color: var(--web3ColorHover);
}

#random-blogposts {
  background-color: var(--randomColor);
}

#random-blogposts:hover {
  background-color: var(--randomColorHover);
}

#social-mobile {
  display: none;
}