/* general */

.main {
    width: 100%;
    margin-left: 0;
}
  
/* greeting and social */

#greeting-social {
    margin-top: 25px;
    padding: 0 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#greeting-social article {
    width: 315px;
    height: 100%;
}

#greeting img {
    width: 80px;
    height: 80px;
}

#greeting p {
    font-size: 1.6rem;
    width: 100%;
}

#social {
    display: none;
}

/* themes blogpost */

#themes-blogposts {
    display: flex;
    flex-direction: column;
}

#themes-blogposts article {
    width: 350px;
    height: 100px;
}

#themes-blogposts a {
    font-size: 1.8rem;
}

#themes-blogposts a:hover {
    font-size: 2.0rem;
}

#themes-blogposts button {
    font-size: 1.8rem;
}

#themes-blogposts button:hover {
    font-size: 2.0rem;
}

.footer {
    position: static;
    font-size: 0.8rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.acknowledgment {
    position: static;
    font-size: 0.6rem;
}

#social-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-mobile p {
    margin: 10px;
    font-size: 1.4rem;
}

#social-mobile a {
    font-size: 2.0rem;
    margin: 10px 10px;
}