/* general */

.main {
    width: 100%;
    margin-left: 0;
}
  
  /* greeting and social */
  
#greeting-social {
    margin-bottom: 10px;
    padding: 0 5%;
}
  
#greeting-social article {
    width: 400px;
}
  
#greeting img {
    width: 100px;
    height: 100px;
}
  
#greeting p {
    font-size: 1.6rem;
    width: 100%;
}
  
#social p {
    font-size: 1.4rem;
    margin: 36px 24px 20px 0;
}
  
#social a {
    font-size: 1.8rem;
    margin-right: 32px;
}
  
#social a:hover {
    font-size: 2.2rem;
}
  
  /* themes blogpost */
  
#themes-blogposts {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5%;
}
  
#themes-blogposts a {
    font-size: 2.0rem;
}
  
#themes-blogposts a:hover {
    font-size: 2.4rem;
}
  
#themes-blogposts button {
    font-size: 2.0rem;
}
  
#themes-blogposts button:hover {
    font-size: 2.4rem;
}

.footer {
    font-size: 1.0rem;
}
  
.acknowledgment {
    font-size: 0.8rem;
}